*~
*/node_modules/*
!/tree-sitter-lexc/node_modules/tree-sitter-xfst
/python/build/
/python/dist
/python/MANIFEST
/tree_sitter_apertium.egg-info/
/tree_sitter_apertium/__pycache__/
/tree_sitter_apertium/test/__pycache__/
*.tgz
*/build/
/build/
/dist/
/logs
Cargo.toml
binding.gyp
*/bindings/
package-lock.json
*.wasm
